<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sellerlogdb</servlet-name>
        <servlet-class>com.sellerlogdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addmoviesdb</servlet-name>
        <servlet-class>com.Addmoviesdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userlogdb</servlet-name>
        <servlet-class>com.Userlogdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogdb</servlet-name>
        <servlet-class>com.Adminlogdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispalyImg</servlet-name>
        <servlet-class>com.DispalyImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImg1</servlet-name>
        <servlet-class>com.DisplayImg1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addbooksdb</servlet-name>
        <servlet-class>com.Addbooksdb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sellerlogdb</servlet-name>
        <url-pattern>/sellerlogdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addmoviesdb</servlet-name>
        <url-pattern>/Addmoviesdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userlogdb</servlet-name>
        <url-pattern>/Userlogdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogdb</servlet-name>
        <url-pattern>/Adminlogdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispalyImg</servlet-name>
        <url-pattern>/DispalyImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImg1</servlet-name>
        <url-pattern>/DisplayImg1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addbooksdb</servlet-name>
        <url-pattern>/Addbooksdb</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
